/Microsoft/Windows/Kernel/OS2/VS/.vs/OS2
/Microsoft/Windows/Kernel/OS2/VS/Debug/app_hooks.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/app_hooks.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/cpu_c.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/main.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/main.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/OS2.exe
/Microsoft/Windows/Kernel/OS2/VS/Debug/OS2.ilk
/Microsoft/Windows/Kernel/OS2/VS/Debug/OS2.log
/Microsoft/Windows/Kernel/OS2/VS/Debug/OS2.pdb
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_core.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_core.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_cpu_c.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_cpu_c.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_dbg_r.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_dbg_r.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_flag.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_flag.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_mbox.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_mbox.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_mem.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_mem.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_mutex.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_mutex.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_q.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_q.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_sem.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_sem.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_task.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_task.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_time.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_time.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_tmr.obj
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_tmr.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/vc143.idb
/Microsoft/Windows/Kernel/OS2/VS/Debug/vc143.pdb
/Microsoft/Windows/Kernel/OS2/VS/Debug/OS2.tlog/CL.command.1.tlog
/Microsoft/Windows/Kernel/OS2/VS/Debug/OS2.tlog/CL.read.1.tlog
/Microsoft/Windows/Kernel/OS2/VS/Debug/OS2.tlog/CL.write.1.tlog
/Microsoft/Windows/Kernel/OS2/VS/Debug/OS2.tlog/link.read.1.tlog
/Microsoft/Windows/Kernel/OS2/VS/Debug/OS2.tlog/link.write.1.tlog
/.vs
