*.opendb
micrium_win32_kernel\Microsoft\Windows\Kernel\OS2\VS\.vs\
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Microsoft/Windows/Kernel/OS2/VS/.vs/OS2/FileContentIndex
/Microsoft/Windows/Kernel/OS2/VS/.vs/OS2/v17/ipch/AutoPCH/bc546e10831340c0/MAIN.ipch
/Microsoft/Windows/Kernel/OS2/VS/.vs/OS2/v17/ipch/AutoPCH/fb66ae87050eb04/OS_CORE.ipch
/Microsoft/Windows/Kernel/OS2/VS/.vs/OS2/v17/.suo
/Microsoft/Windows/Kernel/OS2/VS/.vs/OS2/v17/Browse.VC.db
/Microsoft/Windows/Kernel/OS2/VS/.vs/OS2/v17/Browse.VC.db-shm
/Microsoft/Windows/Kernel/OS2/VS/Debug/app_hooks.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_cpu_c.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_dbg_r.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_flag.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_mbox.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_mem.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_mutex.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_q.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_sem.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_task.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_time.obj.enc
/Microsoft/Windows/Kernel/OS2/VS/Debug/os_tmr.obj.enc
